# Builder.io API Key
# Get this from https://builder.io/account/space
NEXT_PUBLIC_BUILDER_API_KEY=92b39fdec87a4b77897e956b3065e6f2

# Strapi CMS URL
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337

# Next.js Environment
NODE_ENV=development
